body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #4e4949;
    color: #333;
    line-height: 1.6;
   overflow-y: auto;
   position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #dac992;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}
image{
    height: 5%;
    width: 5%;
   size: 30%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    height: auto;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  h2{
    font-size: x-large;
    color: #fff;
  }
  .hero{
    background: url('vv.jpg') no-repeat center center;
  }
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: black;
    color: white;
  }
  
  
